.chartjs-legend li {
        text-align: left; /* Align the text to the left */
      }
      
      .chartjs-legend li span {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-color: #42A5F5; /* Set the color for the box */
        border-radius: 40%; /* Make it circular */
      }
      
      .chartjs-lables {
        border-radius: 50%;
      }